{% extends 'base.html' %}

{% block title %} Medicine List {% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2> Medical Inventory </h2>

        <a href="{% url 'medicine_add' %}" class="btn btn-primary"> + Add Medicine</a>
    </div>
    <form method="GET" class="row g-3 mb-3">
        <div class="col-md-6">
            <input type="text" name="search" class="form-control" placeholder="Search medicine..."
                value="{{ request.GET.search }}">
        </div>

        <div class="col-md-4">
            <select name="category" class="form-select">
                <option value="">All Categories</option>
                {% for category in category_options %}
                <option value="{{ category.id }}" {% if category.is_selected %}selected{% endif %}>
                    {{ category.name }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-2">
            <button class="btn btn-primary w-100">Search</button>
        </div>
    </form>



    <table class="table table-bordered table-hover shadow-sm">
        <thead class="table-dark">
            <tr>
                <th> Name </th>
                <th> Category </th>
                <th> Stock </th>
                <th> Price </th>
                <th> Expiry </th>
                <th width="220"> Action </th>
            </tr>
        </thead>

        <tbody>
            {% for medicine in medicines %}
            <tr>
                <td> {{ medicine.name }} </td>
                <td> {{ medicine.category }} </td>

                <td>
                    {% if medicine.stock_quantity == 0 %}
                    <span class="badge bg-danger">
                        Out of Stock
                    </span>
                    {% elif medicine.stock_quantity <= medicine.minimum_stock %} <span
                        class="badge bg-warning text-dark">
                        {{ medicine.stock_quantity }} (Low Stock)
                        </span>
                        {% else %}
                        <span class="badge bg-success">
                            {{ medicine.stock_quantity }}
                        </span>
                        {% endif %}
                </td>

                <td> Rs. {{ medicine.price }} </td>
                <td>
                    {% if medicine.is_expired %}
                    <span class="badge bg-dark">Expired</span>

                    {% else %}
                    <span class="badge bg-success">{{ medicine.expiry_date }}</span>
                    {% endif %}
                </td>

                <td>
                    <a href="{% url 'medicine_detail' medicine.id %}" class="btn btn-info btn-sm"> View </a>
                    <a href="{% url 'medicine_edit' medicine.id %}" class="btn btn-warning btn-sm"> Edit </a>
                    <a href="{% url 'medicine_delete' medicine.id %}" class="btn btn-danger btn-sm"> Delete </a>
                </td>
            </tr>

            {% empty %}
            <tr>
                <td colspan="6" class="text-center">
                    No medicine available.
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">

            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    Previous
                </a>
            </li>
            {% endif %}

            {% for page in paginator.page_range %}
            <li class="page-item {% if page == page_obj.number %}active{% endif %}">
                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
            </li>
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    Next
                </a>
            </li>
            {% endif %}

        </ul>
    </nav>
</div>
{% endblock %}