{% extends "base.html" %}

{% block content %}
{% include "includes/back_button.html" %}
<div class="container mt-4">
    <h2>Appointments</h2>

    <a href="{% url 'appointments_add' %}" class="btn btn-primary mb-3">Book Appointment</a>

    <form method="GET" class="row mb-3">

        <div class="col-md-4">
            <input type="text" name="search" class="form-control" placeholder="Search Patient or Doctor">
        </div>

        <div class="col-md-3">
            <select name="status" class="form-select">
                <option value="">All Status</option>

                {% for value,label in status_choices %}
                <option value="{{ value }}">{{ label }}</option>
                {% endfor %}

            </select>
        </div>

        <div class="col-md-3">
            <input type="date" name="date" class="form-control">
        </div>

        <div class="col-md-2">
            <button class="btn btn-primary w-100">
                Search
            </button>
        </div>

    </form>



    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th> Patient </th>
                <th> Doctor </th>
                <th> Date </th>
                <th> Time </th>
                <th> Status </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.patient }}</td>

                <td>
                    Dr.
                    {{ appointment.doctor.user.first_name }}
                    {{ appointment.doctor.user.last_name }}
                </td>
                <td>{{ appointment.appointment_date }}</td>
                <td>{{ appointment.appointment_time }}</td>

                <td>
                    {% if appointment.status == "Pending" %}
                    <span class=" badge bg-warning">Pending</span>

                    {% elif appointment.status == "Confirmed" %}
                    <span class=" badge bg-success"> Confirmed </span>

                    {% elif appointment.status == "Completed" %}
                    <span class=" badge bg-primary "> Completed </span>

                    {% else %}
                    <span class=" badge bg-danger "> Cancelled </span>

                    {% endif %}

                </td>
                <td>

                    <a href="{% url 'appointments_detail' appointment.id %}" class="btn btn-info btn-sm">
                        View
                    </a>

                    <a href="{% url 'appointments_edit' appointment.id %}" class="btn btn-warning btn-sm">
                        Edit
                    </a>

                    <a href="{% url 'appointments_delete' appointment.id %}" class="btn btn-danger btn-sm">
                        Delete
                    </a>

                </td>
            </tr>
            {% empty %}

            <tr>
                <td colspan="5" class="text-center"> No Appointments Found </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">

            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    Previous
                </a>
            </li>
            {% endif %}

            {% for page in paginator.page_range %}
            <li class="page-item {% if page == page_obj.number %}active{% endif %}">
                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
            </li>
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    Next
                </a>
            </li>
            {% endif %}

        </ul>
    </nav>

</div>

{% endblock %}