{% extends "base.html" %}

{% block content %}
{% include "includes/back_button.html" %}
<div class="container mt-4">

    <div class="card">

        <div class="card-header">

            <h3>Appointment Details</h3>

        </div>

        <div class="card-body">

            <p><strong>Patient:</strong> {{ appointment.patient }}</p>

            <p><strong>Doctor:</strong>
                Dr. {{ appointment.doctor.user.get_full_name }}
            </p>

            <p><strong>Date:</strong> {{ appointment.appointment_date }}</p>

            <p><strong>Time:</strong> {{ appointment.appointment_time }}</p>

            <p><strong>Reason:</strong> {{ appointment.reason }}</p>

            <p><strong>Status:</strong> {{ appointment.status }}</p>

            <hr>

            {% if appointment.prescription %}

            <a href="{% url 'prescription_detail' id=appointment.prescription.id %}" class="btn btn-success">
                View Prescription
            </a>

            {% else %}

            <a href="{% url 'prescription_create' appointment_id=appointment.id %}" class="btn btn-primary">
                + Create Prescription
            </a>

            {% endif %}

        </div>

    </div>

</div>

{% endblock %}