{% extends 'base.html' %}

{% block content %}
<h2>{{ today_count }}</h2>

<p class="text-muted">
    {{ today_date|date:"l, d F Y" }}
</p>

<h2>Admin Dashboard</h2>

<p>
    Welcome,
    <strong>
        {% if request.user.get_full_name %}
        {{ request.user.get_full_name }}
        {% else %}
        {{ request.user.username }}
        {% endif %}
    </strong>
</p>
<hr>
<div class="row">

    <div class="col-md-3">
        <div class="card shadow">
            <div class="card-body">
                <h5>Total Bills</h5>
                <h2>{{ total_bills }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow">
            <div class="card-body">
                <h5>Paid Bills</h5>
                <h2>{{ paid_bill_count }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow">
            <div class="card-body">
                <h5>Pending Bills</h5>
                <h2>{{ pending_bill_count }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow">
            <div class="card-body">
                <h5>Total Revenue</h5>
                <h2>Rs. {{ total_revenue }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow">
            <div class="card-body">
                <h5>Today's Revenue</h5>
                <h2>Rs. {{ today_revenue }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow">
            <div class="card-body">
                <h5>Monthly Revenue</h5>
                <h2>Rs. {{ monthly_revenue }}</h2>
            </div>
        </div>
    </div>


    <div class="card mt-4">

        <div class="card-header">

            Recent Payments

        </div>

        <div class="card-body">

            <table class="table">

                <tr>

                    <th>Invoice</th>

                    <th>Patient</th>

                    <th>Amount</th>

                    <th>Method</th>

                    <th>Date</th>

                </tr>

                {% for bill in recent_payments %}

                <tr>

                    <td>{{ bill.invoice_number }}</td>

                    <td>{{ bill.patient }}</td>

                    <td>Rs. {{ bill.total_amount }}</td>

                    <td>{{ bill.payment_method }}</td>

                    <td>{{ bill.payment_date|date:"d M Y" }}</td>

                </tr>

                {% empty %}

                <tr>

                    <td colspan="5">

                        No Payments Yet

                    </td>

                </tr>

                {% endfor %}

            </table>

        </div>

    </div>

    <div class="card mt-4">

        <div class="card-header">

            Billing Statistics

        </div>

        <div class="card-body">

            <table class="table">

                <tr>

                    <th>Total Bills</th>

                    <td>{{ bill_count }}</td>

                </tr>

                <tr>

                    <th>Paid Bills</th>

                    <td>{{ paid_bill_count }}</td>

                </tr>

                <tr>

                    <th>Pending Bills</th>

                    <td>{{ pending_bill_count }}</td>

                </tr>

                <tr>

                    <th>Monthly Revenue</th>

                    <td>Rs. {{ monthly_revenue }}</td>

                </tr>

            </table>

        </div>

    </div>


</div>
<div class="row g-3">

    <div class="col-md-3">
        <div class="card bg-info text-white h-100">
            <div class="card-body text-center">
                <h2>{{ doctor_count }}</h2>
                <p>Total Doctors</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-secondary text-white h-100">
            <div class="card-body text-center">
                <h2>{{ patient_count }}</h2>
                <p>Total Patients</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-dark text-white h-100">
            <div class="card-body text-center">
                <h2>{{ appointment_count }}</h2>
                <p>Total Appointments</p>
            </div>
        </div>
    </div>

</div>
<div class="card mt-4">
    <div class="card-header">
        Latest Doctors
    </div>

    <div class="card-body">
        <table class="table table-striped">
            <thead class="table-light">

                <tr>
                    <th>Name</th>
                    <th>Department</th>
                </tr>
            </thead>
            <tbody>

                {% for doctor in latest_doctors %}
                <tr>
                    <td>{{ doctor.user.get_full_name }}</td>
                    <td>{{ doctor.department }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">No doctors found.</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>
<div class="card mt-4">
    <div class="card-header">
        Latest Patients
    </div>

    <div class="card-body">
        <table class="table table-striped">
            <thead class="table-light">

                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in latest_patients %}
                <tr>
                    <td>{{ patient }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td>No patients found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="mb-4">

    <a href="{% url 'doctor_add' %}" class="btn btn-primary">
        Add Doctor
    </a>

    <a href="{% url 'patient_add' %}" class="btn btn-success">
        Add Patient
    </a>

    <a href="{% url 'appointments_add' %}" class="btn btn-warning">
        New Appointment
    </a>
    <i class="fa-solid fa-user-doctor"></i><i class="fa-solid fa-user"></i><i class="fa-solid fa-calendar-check"></i><i
        class="fa-solid fa-clock"></i>
</div>
{% endblock %}