{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <h3>Delete Doctor</h3>

    <p>

        Are you sure you want to delete

        <strong>

            Dr.
            {{ doctor.user.first_name }}
            {{ doctor.user.last_name }}

        </strong>

        ?

    </p>

    <form method="POST">

        {% csrf_token %}

        <button class="btn btn-danger">
            Delete
        </button>

        <a href="{% url 'doctor_list' %}" class="btn btn-secondary">

            Cancel

        </a>

    </form>

</div>

{% endblock %}