{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h2>Dashboard</h2>
<div class="row">
    <div class="col-md-3">
        <a href="{% url 'patient_list' %}" class="text-decoration-none">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <h4>{{ patient_count }}</h4>
                    <p class="card-text">Total Patients</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="{% url 'doctor_list' %}" class="text-decoration-none">
            <div class="card text-white bg-success">
                <div class="card-body">
                    <h4>{{ doctor_count }}</h4>
                    <p class="card-text">Total Doctors</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="{% url 'appointments_list' %}" class="text-decoration-none">
            <div class="card text-white bg-info">
                <div class="card-body">
                    <h4>{{ appointment_count }}</h4>
                    <p class="card-text">Total Appointments</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <!-- <a href="{% url 'patient_list' %}" class="text-decoration-none"> -->
        <div class="card text-white bg-warning">
            <div class="card-body">
                <h4>$15,000</h4>
                <p class="card-text">Total Revenue</p>
            </div>
        </div>
        <!-- </a> -->
    </div>
</div>
{% endblock %}